@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  font-family: "Quicksand", serif;
  font-weight: 400;
}

.img-box {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #0077ff;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.letChat {
  width: 100px;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  background-color: #0077ff;
}
